# OSV API Configuration
OSV_API_ENDPOINT=

# Optional: Timeout for API calls (in seconds)
OSV_API_TIMEOUT=30


MISTRAL_API_KEY=
MISTRAL_BASE_URL=
GEMINI_API_KEY=
GEMINI_BASE_URL=
CLAUDE_API_KEY=
CLAUDE_BASE_URL=
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=

